<% if @user == current_user %>
  <% provide :nav_active, 'my_events' %>
<% else %>
  <% provide :nav_active, 'discover' %>
<% end %>

<div class="container">
  <div class="row col-12 mb-4">
    <% if @user == current_user %>
      <%= link_to "Create new event", new_event_path, class: "btn btn-primary float-right" %>
    <% end %>
  </div>
  <div class="row col-12">
    <%= render partial: '/events/horizontal', collection: @events.to_a, as: :event %>
  </div>
</div>
